{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produkty</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Kategorie</th>
            <th>Price</th>
            <th>In Stock</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>
                    {% for category in product.category %}
                        {{ category.name }}
                        {% if not loop.last %}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ product.price }}</td>
                <td>{{ product.instock }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}