{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>In Stock</th>
                <td>{{ product.instock }}</td>
            </tr>
        </tbody>
    </table>

    <br><a href="{{ path('order_new', {'id': product.id}) }}" class="btn btn-primary">Vložit do košíku</a></br>

    <a href="{{ path('product_show', {'id': product.id}) }}">Zpět na výpis produktů</a>


{% endblock %}
