{% extends 'base.html.twig' %}

{% block title %}Košík{% endblock %}

{% block body %}

    <div class="container col-6" style="margin-top: 5%">
    <h1>    <img src="{{ asset('images/basket.PNG') }}" width="40" height="40" alt=""> Košík:</h1>
    <table class="table table-sm">
        <thead>


                <thead class="thead-blue">
                <tr>
                    <th scope="col">Produkt ID</th>
                    <th scope="col">Název</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Počet</th>
                    <th scope="col">Přidat</th>
                    <th scope="col">Odebrat</th>
                </tr>
                </thead>

                <tbody>

                {% for item in basket %}

                    <tr>

                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.amount }}</td>
                        <td><a href="{{ path('basket_plus', {'id': item.id}) }}"><button class="btn btn-success">+</button></a></td>
                        <td><a href="{{ path('basket_minus', {'id': item.id}) }}"><button class="btn btn-danger">-</button></a></td>


                    </tr>


                {% endfor %}
                </tbody>
            </table>


        </div>

        <div class="col"></div>



    <div class="col-3 pt-3">
        <table class="table table-sm">
        <ul class="nav nav-pills">
            <li class="nav-item" >
                <a class="btn btn-lg btn-primary btn-block" type="submit" align="center" href="{{ path('order_new') }}">Pokračovat v objednávce</a>
            </li>
        </ul>
    </div>

    <br>







{% endblock %}