{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Street</th>
            <th>City</th>
            <th>Psc</th>
            <th>Poznamka</th>
            <th>TotalPrice</th>
            <th>Product</th>
            <th>Ks</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.surname }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.telephone }}</td>
                <td>{{ order.street }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.psc }}</td>
                <td>{{ order.poznamka }}</td>
                <td>{{ order.totalprice }}</td>
                <td>{{ order.product }}</td>
                <td>{{ order.count }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new', {'id': product.id}) }}">Create new</a>
{% endblock %}