{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Products</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Street</th>
            <th>City</th>
            <th>Psc</th>
            <th>Poznamka</th>
            <th>TotalPrice</th>
            <th>Status</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{% for item in order.products %}
                        {{ item.name }}, {{ item.amount }} ks{% endfor %}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.surname }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.telephone }}</td>
                <td>{{ order.street }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.psc }}</td>
                <td>{{ order.poznamka }}</td>
                <td>{{ order.totalprice }}</td>
                <td>{{ order.status ? 'Yes' : 'No' }}</td>

                <td>{% for item in order.products %}
                        {{ item.name }}, {{ item.amount }} ks<br>
                    {% endfor %}
                    <p style="font-weight: bold">Zboží za {{ order.totalPrice }},- Kč</p> </td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new'}) }}">Create new</a>
{% endblock %}