{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Surname</th>
            <th>Name</th>
            <th>City</th>
            <th>zboží</th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.surname }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.city }}</td>
                <td>
                    {{ order.product.name }}
                </td>

                <td>
                    <a href="{{ path('order_index', {'id': order.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('neworder', {'id': product.id}) }}">Create new</a> #}
{% endblock %}