{% extends 'base.html.twig' %}

{% block title %}Objednavka{% endblock %}

{% block body %}
    <h1>Objednavka č. {{ order.id }}</h1>

    <div class="row">
        <div class="container col-md-6" style="background-color: snow; padding: 20px">

            <h3>Objednatel:</h3>
            {{ order.name }} {{ order.surname }}<br>
            {{ order.street }}<br>
            {{ order.psc }} {{ order.city }}<br>
            <br>
            {{ order.email }}<br>
            {{ order.telephone }}<br>

            {% if order.poznamka is not empty %}
                <br>Zpráva: {{ order.poznamka }}
            {% endif %}

        </div>

        <div class="container col-md-6" style="background-color: snow; padding: 20px">
            <h3>Nákup:</h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <td>Produkty</td>
                    <td>Cena</td>
                    <td>Množství</td>
                    <td>Subtotal</td>
                </tr>
                </thead>

                {% for item in order.products %}
                    <tr style="font-size: 0.8rem">
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }},- Kč</td>
                        <td>{{ item.amount }}</td>
                        <td><span class="total_product">{{ item.amount * item.price }}</span>,- Kč</td>

                    </tr>
                {% endfor %}

                <thead>
                <tr>
                    <td colspan="3">{{ order.payment.name }}</td>
                    <td>{{ order.payment.price }},- Kč</td>
                </tr>
                <tr>
                    <td>Doprava</td>
                    <td colspan="2">{{ order.delivery.name }}</td>
                    <td>{{ order.delivery.price }},- Kč</td>
                </tr>
                <tr class="table-active">
                    <td colspan="3" style="font-weight: bold">Celkem k platbě</td>
                    <td style="font-weight: bold">
                        {% set cenazavsechno = order.totalPrice + order.delivery.price + order.payment.price %}
                        {{ cenazavsechno }},- Kč</td>
                </tr>
                </thead>
            </table>
        </div>

    </div>





    <a href="{{ path('order_index') }}"> << zpátky do seznamu</a>
<br>
    <a href="{{ path('order_edit', {'id': objednani.id}) }}" class="btn btn-sm btn-secondary" style="margin-bottom: 5px">Změnit objednávku</a>

{{ include('order/_delete_form.html.twig') }}
{% endblock %}%}